.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* Section for Upcoming Events */
.upcoming-events h2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #2c3e50;
}

.card {
    border-radius: 10px;
}

.card .col-4 {
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-size: 1.8rem;
    color: #34495e;
}

.btn {
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
}

/* End of Upcoming Events */

/* Recent Art Uploads */
body {
    background-color: #f8f9fa;
}

.art-card {
    margin-bottom: 20px;
}

.art-image {
    height: 200px;
    object-fit: cover;
}

/* End of Recent Art Uploads */

/* Artist Spotlight  */
body {
    background-color: #f0f4f8;
}

.artist-card {
    margin-bottom: 30px;
    transition: transform 0.2s;
}

.artist-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.artist-image {
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* End of Artist Spotlight  */

/* Community Section  */
.carousel-item {
    height: 400px; /* Adjust height as needed */
}

.carousel-item .card {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

.reaction-buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.rating {
    margin-top: 10px;
}

/* End of Community Section  */